<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tengfei.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyTextViewActivity" />
        <activity android:name=".activity.MyQqMovementActivity" />
        <activity android:name=".activity.ColorTrackTextViewActivity" />
        <activity android:name=".activity.ColorTrackPagerActivity" />
        <activity android:name=".activity.CircleProgressBarActivity" />
        <activity android:name=".activity.ShapeVariableActivity" />
        <activity android:name=".activity.RatingBarActivity" />
        <activity android:name=".activity.ValueAnimatorActivity" />
        <activity android:name=".activity.ListDataScreenActivity" />
        <activity android:name=".activity.ParabolicAnimationActivity" />
        <activity android:name=".activity.BouquetLoadingActivity" />
        <activity android:name=".activity.LetterSideBarActivity" />
        <activity android:name=".activity.GestureDetectorActivity"></activity>
    </application>

</manifest>